// Import Carbon Design Tokens & Utilities ...
@use 'enjanga-core-setup/styles' as *;

:root {
  --enj-skeleton-anim-title-h: 24px;
  --enj-skeleton-anim-text-h: 16px;
}

// ...
@mixin background-animation {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

/* Base skeleton effect */
.skeleton {
  display: inline-block;
  background-color: $gray-40;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

/* Shimmer effect */
.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  @include background-animation;
}

@keyframes shimmer {
  100% {
    transform: translateX(150%);
  }
}

// Spacing ...
.skeleton-bot-spacing-1 {
  margin-bottom: 12px;
}
.skeleton-bot-spacing-2 {
  margin-bottom: 5px;
}

/* Specific skeleton sizes */
.skeleton-title {
  width: 70%;
  height: var(--enj-skeleton-anim-title-h);
  margin-bottom: 12px;
}

.skeleton-text-wrapper {
  .skeleton-list-item {
    display: flex;
    gap: 10px;
  }
}

.skeleton-text,
.skeleton-list-item,
.skeleton-dot {
  width: 100%;
  height: var(--enj-skeleton-anim-text-h);
}

.skeleton-dot {
  width: var(--enj-skeleton-anim-text-h);
}
