@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/colors' as *;

@mixin customTile-hover {
  cursor: pointer;
  background-color: $gray-30;
}

@mixin customTile-decoration-hotizontal {
  // Variables ...
  --enj-CustomTile-h-padd: #{$spacing-06};

  // Declarations ...
  padding: var(--enj-CustomTile-h-padd);

  @include breakpoint('md') {
    --enj-CustomTile-h-padd: #{$spacing-08};
    --enj-CustomTile-gap: #{$spacing-08};
  }

  @include breakpoint('lg') {
    --enj-CustomTile-h-padd: #{$spacing-09};
    --enj-CustomTile-gap: #{$spacing-12};
  }
}

.enj-CustomTile {
  position: relative;
  transition: all 0.2s ease;
  padding: 0; // We cancel all padding by default

  /***/

  // Apply the same hover effect for non-link components
  &:not(.enj-CustomTile--link):hover {
    @include customTile-hover;
  }

  // Variables ...
  --enj-CustomTile-gap: #{$spacing-06};

  &--vertical {
    border: 3px solid rgb(247, 0, 255);

    // Variables ...
    display: flex;
    --enj-CustomTile-v-padd: #{$spacing-06};

    // Declarations ...
    padding: var(--enj-CustomTile-v-padd);
    gap: $spacing-06;
    max-width: 400px;

    .content {
      flex: 1;
      padding-right: var(--enj-CustomTile-v-padd);
    }
    .enj-icon {
      bottom: $spacing-06;
      right: $spacing-06;
    }
  }

  &--horizontal {
    &:not(.enj-CustomTile--link):hover {
      @include customTile-decoration-hotizontal;
    }

    &.enj-CustomTile--link {
      a.enj-CustomTile-link {
        border: 3px dashed black;
        @include customTile-decoration-hotizontal;
      }
    }

    // Variables ...
    --enj-CustomTile-flex-dir: column;
    // --enj-CustomTile-h-padd: #{$spacing-06};

    // Declarations ...
    // padding: var(--enj-CustomTile-h-padd);
    border: 3px solid orange;

    .enj-CustomTile-icon {
      display: none;
    }

    .content {
      display: flex;
      padding-right: $spacing-13;
      flex-direction: var(--enj-CustomTile-flex-dir);
      gap: var(--enj-CustomTile-gap);
      .enj-CustomTile-title {
        // max-width: 290px;
      }
    }
    .enj-icon {
      bottom: var(--enj-CustomTile-h-padd);
      right: var(--enj-CustomTile-h-padd);
    }

    @include breakpoint('md') {
      border: 4px solid blue;
      --enj-CustomTile-flex-dir: row;
    }

    @include breakpoint('lg') {
      border: 4px solid rgb(255, 128, 0);
    }
  }

  .enj-icon {
    position: absolute;
  }
}

.enj-CustomTile--link {
  a.enj-CustomTile-link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
      @include customTile-hover;
    }
  }
}
