@use 'enjanga-core-setup/styles-spacing' as sp;
@use 'enjanga-core-setup/styles-colors' as cl;
@use 'enjanga-core-setup/styles-breakpoint' as bp;





/**
 * Global stylings
 * ----------------------------
*/

@mixin TB-iconLayout {
  .enj-TileBanner-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@mixin TB-iconTheming {
  .enj-TileBanner-icon {
    margin-top: 1rem;
    width: var(--enj-TB-icon-dimg);
    height: var(--enj-TB-icon-dimg); 
  }
}

// Text & Link styling ...
@mixin TB-textLinkTheming {
  a {
    text-decoration: none;
  }
  .enj-TileBanner-title {
    color: cl.$gray-90;
    a {
      color: cl.$gray-90;
    }
  }
  .enj-FeatureText-article,
  .enj-TileBanner-pictogram {
    color: cl.$gray-70;
    a {
      color: cl.$gray-70;
    }
  }
}

@mixin TB-richTextDefaults {
  .enj-FeatureText-article {
    // For Feature text / Rich text ...
    p:last-of-type,
    blockquote {
      margin-bottom: 0;
    }
    * {
      font-size: 1.2rem;
    }
  }
}

@mixin TB-hover {
  cursor: pointer;
  background-color: #0100C0; // TODO: Convert to enjanga-core-setup color token // TODO: Convert to enjanga-core-setup color token

  .enj-TileBanner-pictogram {
    color: #A8C2F2; // TODO: Convert to enjanga-core-setup color token
  }

  .enj-TileBanner-icon-wrapper svg {
    color: #A8C2F2; // TODO: Convert to enjanga-core-setup color token
  }
}

@mixin TB-textLinkTheming-hover {
  .enj-TileBanner-title {
    color: white; // $blue-60;
    a {
      color: white; // $blue-60;
    }
  }
  .enj-FeatureText-article {
    color: white; // $blue-60;
    a {
      color: white; // $blue-60;
    }
  }
}




// Create initial padding, then adjust based on component size
@mixin TB-padding {
  // Initial padding ...
  &:not(.enj-TileBanner--has-link) {
    padding: var(--enj-TB-banner-pad);
   }
  &.enj-TileBanner--has-link {
    padding: 0;
    a {
      padding: var(--enj-TB-banner-pad);
    }
  }
  // Initial padding ...

  &.enj-TileBanner-sm {
    // Adapts padding ...
    --enj-TB-banner-pad: #{sp.$spacing-04};
  }
  &.enj-TileBanner-md {
    // Adapts padding ...
    --enj-TB-banner-pad: #{sp.$spacing-10};
  }
  &.enj-TileBanner-max {
    // Adapts padding ...
    --enj-TB-banner-pad: #{sp.$spacing-12};
  }
}

// Regulate flex gap for all component sizes
@mixin TB-flexGap {
  &.enj-TileBanner-lg {
    --enj-TB-flex-gap: 1.2rem;
  }
  &.enj-TileBanner-xlg {
    --enj-TB-flex-gap: 1.5rem;
  }
  &.enj-TileBanner-max {
    --enj-TB-flex-gap: 2rem;
  }
}

// Spread the content horizontally and adjust alignment (for certain component sizes)
@mixin TB-layout {
  &.enj-TileBanner-xlg {
    --enj-TB-bann-flex-dir: row;
    --enj-TB-bann-align-items: center;
    --enj-TB-flex-gap: 3.5rem;
    --enj-TB-bann-title-flex: 0.6;
    --enj-TB-bann-article-flex: 1;
  }
  &.enj-TileBanner-max {
    --enj-TB-bann-flex-dir: row;
    --enj-TB-bann-align-items: center;
    --enj-TB-flex-gap: 6rem;
    --enj-TB-bann-title-flex: 0.6;
    --enj-TB-bann-article-flex: 1;
  }
}