@use 'enjanga-core-setup/styles-spacing' as sp;
@use 'enjanga-core-setup/styles-colors' as cl;


// variables placeholder
$tile-bg: #e3ebf9;


:root {
  // Banners ...
  --enj-TB-bann-flex-dir: column;
  --enj-TB-bann-align-items: flex-start;
  --enj-TB-flex-gap: 1rem;
  --enj-TB-bann-title-mb: 0;
  --enj-TB-banner-pad: #{sp.$spacing-10};
  --enj-TB-bann-title-flex: unset;
  --enj-TB-bann-article-flex: unset;

  // Cards ...
  --enj-TB-br-col: #{cl.$gray-60};
  --enj-TB-card-pad: #{sp.$spacing-07};
  --enj-TB-card-img-col-gap: 1.5rem;
  --enj-TB-card-withIcon-gap: 1rem;

  // Mix ...
  --enj-TB-icon-dimg: 1.5rem;
}