@use 'enjanga-core-setup/styles-type' as tp;
@use '../VideoThumbnail/VideoThumbnail';

:root {
  --color-bg: #191947;
  --color-text: #ffffff;
  --color-primary: #F81C9A;
  --color-primary-hover: #d4c4ff;
  --color-secondary: rgba(255, 255, 255, 0.08);
  --color-secondary-hover: rgba(117, 74, 255, 0.88);
  --color-meta-bg: rgba(0, 0, 0, 0.72);

  --enj-HeroVideo-gap: 0;
  --enj-HeroVideo-padding: 2rem 0 0 0;
}


/* HeroVideo */
.enj-HeroVideo {
  background-color: #191947;
  color: #ffffff;
  padding: var(--enj-HeroVideo-padding);

  &.enj-HeroVideo-lg {
    --enj-HeroVideo-padding: 3rem 0 0 0;
    --enj-HeroVideo-gap: 3rem;
  }

  &.enj-HeroVideo-xlg {
    --enj-HeroVideo-gap: 4rem;
  }

  .enj-container {
    display: grid;
    gap: var(--enj-HeroVideo-gap);
    max-width: 500px; // For small screens up to 703px, the content is centered and constrained to 500px width
  }

  .enj-container-txt-wrapper {
    max-width: 650px;
    width: 100%;
  }

  .enj-HeroVideo-copy {
    display: grid;
    gap: 1rem;

    p:last-child {
      margin-bottom: 0;
    }
  }
  .enj-HeroVideo-informationTitle {
    margin: 0;
  }

  &.enj-HeroVideo-lg,
  &.enj-HeroVideo-xlg,
  &.enj-HeroVideo-max {
    .enj-HeroVideo-informationDescription {
      p {
        @include tp.type-style('heading-03');
      }
    }

    .enj-container {
      grid-template-columns: minmax(0, 1fr) minmax(0, 470px);
      align-items: center;
    }
  }

  &.enj-HeroVideo-lg,
  &.enj-HeroVideo-xlg,
  &.enj-HeroVideo-max { 
    @media screen and (min-width: 704px) and (max-width: 950px) {
      .enj-container {
        --enj-HeroVideo-gap: 0;
        grid-template-columns: 1fr;
      }
    }
    @media screen and (min-width: 951px) { 
      --enj-HeroVideo-padding: 0;

      .enj-container {
        max-width: 1280px; // Carbon grid container max-width for large screens and above
        grid-template-columns: minmax(0, 1fr) minmax(0, 470px);
      }
    }
  }
}


.enj-HeroVideo-modal {
  .cds--modal-container {
    max-width: 38rem;
  }

  .cds--modal-header {
    margin-block-end: 0;

    .cds--modal-header__heading {
      font-size: 1rem;
      color: #0100C0;
    }
  }

  .enj-HeroVideo-modalBody {
    display: grid;
    gap: 1rem;

    .enj-HeroVideo-modalVideo {
      width: 100%;
      height: auto;
      background: #000;
    }
  }

  .enj-HeroVideo-modalTitle {
    margin: 0;
    font-size: 1.3rem;
  }
}