@use './../utils/mixins';

.enj-postTile--card {
  .enj-postTile-image {
    object-fit: cover;
  }
}

.enj-postTile--card {
  &.enj-postTile--has-img {
    &.enj-postTile--has-link {
      display: block;
    }
  }
}

.enj-postTile--card {
  &.enj-postTile--has-img {
    padding-top: var(--enj-postTile-md-img-height);

    &.enj-postTile-sm {
      --enj-postTile-md-img-height: 150px;
    }

    &:not(.enj-postTile--has-link) {
      padding-top: calc(
        var(--enj-postTile-md-img-height) + var(--enj-postTile-md-img-gap)
      );
    }

    .enj-postTile-image {
      width: 100%;
      max-height: var(--enj-postTile-md-img-height);
    }

    .enj-postTile-image {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.enj-postTile--has-icon {
      &.enj-postTile-lg,
      &.enj-postTile-xlg,
      &.enj-postTile-max {
        .enj-postTile-icon-wrapper {
          @include mixins.CT-action-icon-positionning;
        }
      }
    }

    --enj-postTile-md-img-height: 200px;
    --enj-postTile-lg-img-width: 30%;
    --enj-postTile-xlg-img-width: 35%;
    --enj-postTile-max-img-width: 35%;
    --enj-postTile-md-img-gap: 1.25rem;
    --enj-postTile-lg-img-gap: 1.5rem;
    --enj-postTile-xlg-img-gap: 3.125rem;
    --enj-postTile-max-img-gap: 4.063rem;
  }
}
