@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as colors;

.enj-list {
  // ...
  padding-left: 1.1rem;

  li {
    line-height: $spacing-06;
  }
}

// Display decimals ...
ol.enj-list {
  list-style: decimal;
}

// Display bullet points ...
ul.enj-list {
  list-style: disc;
}
