@use 'enjanga-core-setup/styles-spacing' as sp;
@use 'enjanga-core-setup/styles-colors' as cl;

:root {
  // banner vars removed — tile is always card

  --enj-PGL-br-col: #{cl.$gray-60};
  --enj-PGL-card-img-col-gap: 1.5rem;
  --enj-PGL-card-withIcon-gap: 1rem;

  --enj-PGL-icon-dimg: 1.5rem;
}
