@use 'enjanga-core-setup/styles-spacing' as sp;
@use 'enjanga-core-setup/styles-colors' as cl;
@use 'enjanga-core-setup/styles-breakpoint' as bp;

@mixin PTL-iconPositionning {
  .enj-postTile-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@mixin PTL-iconTheming {
  .enj-postTile-icon {
    margin-top: 1rem;
    width: var(--enj-PTL-icon-dimg);
    height: var(--enj-PTL-icon-dimg);
    transform: translateX(-4rem);
    transition: transform 260ms cubic-bezier(0.22, 1, 0.36, 1), fill 220ms ease;
  }
}

@mixin PTL-linkTheming {
  .enj-postTile-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    background-color: #C7DBFF;
    border-radius: 1rem;
    width: fit-content;
    transition: background-color 660ms cubic-bezier(0.22, 1, 0.36, 1);







    span { 
      color: #313131;
    }

    &:hover {
      color: #C7DBFF;
      background-color: #DC0680;
      text-decoration: none;

      span { 
        color: #C7DBFF;
      }
    }
  }
}

@mixin PTL-textLinkTheming {
  a {
    text-decoration: none;
  }

  .enj-postTile-title,
  .enj-postTile-title a,
  .enj-FeatureText-article,
  .enj-FeatureText-article a,
  .enj-postTile-pictogram,
  .enj-postTile-pictogram a {
    transition: color 220ms ease;
  }

  .enj-postTile-title {
    color: cl.$gray-90;
    font-size: 1.25rem;

    a {
      color: cl.$gray-90;
    }
  }
  .enj-FeatureText-article,
  .enj-postTile-pictogram {
    color: cl.$gray-70;
    a {
      color: cl.$gray-70;
    }
  }
}

@mixin PTL-richTextDefaults {
  .enj-FeatureText-article {
    p:last-of-type,
    blockquote {
      margin-bottom: 0;
    }
  }
}

@mixin PTL-cardResponsivePadding {
  &.enj-postTile--card {
    padding: var(--enj-PTL-card-pad);
  }

  &.enj-postTile-sm {
    --enj-PTL-card-pad: 1rem;
  }
  &.enj-postTile-md {
    --enj-PTL-card-pad: 2rem;
  }
  &.enj-postTile-lg,
  &.enj-postTile-xlg,
  &.enj-postTile-max {
    --enj-PTL-card-pad: 3rem;
  }
}

@mixin PTL-hover {
  cursor: pointer;

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 1;
    }
  }
}

@mixin PTL-textLinkTheming-hover {
  .enj-postTile-title {
    color: white;
    a {
      color: white;
    }
  }
  .enj-FeatureText-article {
    color: white;
    a {
      color: white;
    }
  }

  .enj-postTile-icon {
    fill: white;
    transform: translateX(0);
  }
}

@mixin CT-action-icon-positionning {
  position: absolute;
  bottom: var(--enj-PTL-card-pad);
  right: var(--enj-PTL-card-pad);
}
