@use 'enjanga-core-setup/styles-spacing' as sp;
@use 'enjanga-core-setup/styles-colors' as cl;

:root {
  --enj-PTL-bann-flex-dir: column;
  --enj-PTL-bann-align-items: flex-start;
  --enj-PTL-bann-flex-gap: 1rem;
  --enj-PTL-bann-title-mb: 0;
  --enj-PTL-banner-pad: #{sp.$spacing-10};
  --enj-PTL-bann-title-flex: unset;
  --enj-PTL-bann-article-flex: unset;

  --enj-PTL-br-col: #{cl.$gray-60};
  --enj-PTL-card-pad: #{sp.$spacing-07};
  --enj-PTL-card-img-col-gap: 1.5rem;
  --enj-PTL-card-withIcon-gap: 1rem;

  --enj-PTL-icon-dimg: 1.5rem;
}
