.enj-CustomTile-sm {
  border: 3px solid green;
}
.enj-CustomTile-md {
  border: 3px solid blue;
}
.enj-CustomTile-lg {
  border: 3px solid orange;
}
.enj-CustomTile-xl {
  border: 3px solid pink;
}
.enj-CustomTile-max {
  border: 3px solid rgb(92, 0, 128);
}
