@use './utils/vars';
@use './utils/mixins'; 

.enj-postTile {
  padding: 0;
  background-color: #e3ebf9;

  @include mixins.PTL-iconPositionning;
  @include mixins.PTL-iconTheming;
  @include mixins.PTL-linkTheming;
  @include mixins.PTL-cardResponsivePadding;
  @include mixins.PTL-textLinkTheming;

  > .enj-postTile-link {
    margin-bottom: calc(var(--enj-PTL-card-pad) / 4);
  }
 
  .enj-FeatureText {
    @include mixins.PTL-richTextDefaults;
  }
}

.enj-postTile {
  display: block;
  @include mixins.PTL-hover;

  &:hover {
    @include mixins.PTL-textLinkTheming-hover;
  }
}
