@use './utils/vars';
@use './utils/mixins'; 

@use './variants/postTile-has-img'; 

.enj-postTile {
  padding: 0;
  background-color: #e3ebf9;

  @include mixins.PTL-iconPositionning;
  @include mixins.PTL-iconTheming;
  @include mixins.PTL-textLinkTheming;
  @include mixins.PTL-cardResponsivePadding;

  @include mixins.PTL-textLinkTheming;
 
  .enj-FeatureText {
    @include mixins.PTL-richTextDefaults;
  }
}

.enj-postTile-has-hover-effect,
.enj-postTile-anchor-tag {
  display: block;
  &:hover {
    @include mixins.PTL-hover;
    @include mixins.PTL-textLinkTheming-hover;
  }
}
