@use 'enjanga-core-setup/styles' as core;

.enj-contentModal {
  --enj-contModal-closeBtn-right: 0;
  --enj-contModal-header-paddInline: 1.5rem;
  --enj-contModal-header-paddBlockStr: 2rem;
  --enj-contModal-content-paddInline: 1.5rem;

  // keep headings' width no-responsive on the modal
  --enj-contModal-h1: 1.75rem;
  --enj-contModal-h2: 1.5rem;
  --enj-contModal-h3: 1.25rem;

  .cds--modal-header__heading {
    color: #0100C0; // TODO: Convert to enjanga-core-setup color token
  }

  .cds--modal-close-button {
    top: 1rem;
    right: var(--enj-contModal-closeBtn-right);
  }

  .cds--modal-header {
    padding-block-start: var(--enj-contModal-header-paddBlockStr);
    padding-inline: var(--enj-contModal-header-paddInline);
  }

  .cds--modal-content {
    padding-inline: var(--enj-contModal-content-paddInline);
  }

  h1 {
    font-size: var(--enj-contModal-h1);
  } 
  h2 {
    font-size: var(--enj-contModal-h2);
  }
  h3 {
    font-size: var(--enj-contModal-h3);
  }

  @include core.breakpoint('md') {
    --enj-contModal-closeBtn-right: 1rem;
    --enj-contModal-header-paddInline: 2rem;
    --enj-contModal-content-paddInline: 2rem;
  }

  @include core.breakpoint('lg') {
    --enj-contModal-header-paddInline: 3rem;
    --enj-contModal-content-paddInline: 3rem;
  }

  @include core.breakpoint('xlg') {
    --enj-contModal-header-paddInline: 4rem;
    --enj-contModal-content-paddInline: 4rem;
  }
}