// Import Carbon Design Tokens & Utilities ...
@use 'enjanga-core-setup/src/styles/index' as *;

// ...
@mixin CRT_lists_styling {
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }

  ul,
  ol {
    // border: 1px solid red;
    padding-left: var(--enj-CMSRichText-ul-pad-left);
    margin-bottom: var(--enj-CMSRichText-ul-mb);

    li {
      p {
        margin-bottom: 0;
      }
    }
  }
}

// ...
@mixin CRT_paragraphs_styling {
  p {
    border: 1px solid transparent;
    margin-bottom: var(--enj-CMSRichText-ul-mb);
  }
}

// ...
@mixin CRT_blockquote_styling {
  blockquote {
    border-left: 0.6rem solid $gray-40;
    padding-left: 1rem;
    margin-bottom: var(--enj-CMSRichText-ul-mb);

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

// ...
@mixin CRT_hr_styling {
  hr {
    margin: var(--enj-CMSRichText-hr-gap) 0;
  }
}

// ...
@mixin CRT_image_styling {
  figure {
    padding: 2rem;
    background: #f4f1f6;
    border: 1px solid #cec5d3;
    margin-bottom: 1rem;

    line-height: 1.4rem;
    font-size: 1rem;
    font-style: italic;

    img {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }
}
