@use "./utils/vars";
@use "./utils/mixins";

@use "./layouts/card";
@use "./layouts/banner";

@use "./components/icon";
@use "./components/pictogram";
@use "./components/modal";

@use "./variants/customTile-link";
@use "./variants/customTile-has-img";
@use "./variants/customTile-has-pictogram";

.enj-CustomTile {
  background-color: #e3ebf9;

  @include mixins.CT-iconPositionning;
  @include mixins.CT-iconTheming;
  @include mixins.CT-textLinkTheming;
  @include mixins.CT-pictogram-theming;

  .enj-FeatureText {
    @include mixins.CT-richTextDefaults;
  }
}

.enj-CustomTile-has-hover-effect,
.enj-CustomTile-anchor-tag,
.enj-CustomTile--has-modal {
  display: block;
  &:hover,
  &:focus-visible {
    @include mixins.CT-hover;
    @include mixins.CT-textLinkTheming-hover;
  }
}

.enj-CustomTile[role="button"]:focus-visible {
  outline: 3px solid #0f62fe;
  outline-offset: 3px;
}

@media (prefers-reduced-motion: reduce) {
  .enj-CustomTile,
  .enj-CustomTile * {
    transition: none !important;
  }
}
