:root {
  --enj-grid-gap: 1rem;
}

.enj-grid {
  display: grid;
  gap: 1rem;

  &.enj-grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.enj-grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.enj-grid--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.enj-grid--cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  &.enj-grid--cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.enj-container {
  border: 10px solid turquoise;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1280px;
}