@use '@carbon/styles/scss/themes' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;

/**
 * TO DO:
 --------
  Find these design tokens and replace them in the code:
  - #fb00ff 
 */

.enj-Banner {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-on-color;
  }
  p,
  span {
    color: $gray-20;
    font-size: var(--enj-Banner-p-font-size);
  }
  a {
    color: #fb00ff;
    span {
      color: #fb00ff;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
