@use './utils/vars';
@use './utils/mixins';



.enj-TileBanner--banner {
  // Basic style cleanup ..............
  .enj-TileBanner-title {
    // For title ...
    margin-bottom: var(--enj-TB-bann-title-mb);
    flex: var(--enj-TB-bann-title-flex);
  }
  article {
    flex: var(--enj-TB-bann-article-flex);
  }

  .enj-FeatureText {
    // For Feature text ...
    display: flex;
    gap: var(--enj-TB-flex-gap);
    flex-direction: var(--enj-TB-bann-flex-dir);
    align-items: var(--enj-TB-bann-align-items);

    // Custom enhancements ...
    @include mixins.TB-richTextDefaults;
  }

  /**
   * Custom enhancements ...
  */
  // Regulate padding for all component sizes
  @include mixins.TB-padding;

  // Regulate flex gap for all component sizes
  @include mixins.TB-flexGap;

  // Spread the content horizontally and adjust alignment (for certain component sizes)
  @include mixins.TB-layout;
}

.enj-TileBanner {
  background-color: #e3ebf9;
  overflow: hidden;
  position: relative;

  &::before {
    background: linear-gradient(90deg, #5354fa 0%, #9630f9 100%);
    content: '';
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  @include mixins.TB-iconLayout;
  @include mixins.TB-iconTheming;
  @include mixins.TB-textLinkTheming; 

  .enj-FeatureText {
    @include mixins.TB-richTextDefaults;
  }
}

.enj-TileBanner {
  &:hover,
  &:focus-visible,
  &:focus-within {
    @include mixins.TB-hover;
    @include mixins.TB-textLinkTheming-hover;
  }
}

.enj-TileBanner-anchor-tag {
  display: block;
}


.enj-TileBanner-icon-wrapper {
  display:flex;
  align-items:center;
}