@use './utils/vars';
@use './utils/mixins';



.enj-TileBanner--banner {
  // Basic style cleanup ..............
  .enj-TileBanner-title {
    // For title ...
    margin-bottom: var(--enj-TB-bann-title-mb);
    flex: var(--enj-TB-bann-title-flex);
  }
  article {
    flex: var(--enj-TB-bann-article-flex);
  }

  .enj-FeatureText {
    // For Feature text ...
    display: flex;
    gap: var(--enj-TB-flex-gap);
    flex-direction: var(--enj-TB-bann-flex-dir);
    align-items: var(--enj-TB-bann-align-items);

    // Custom enhancements ...
    @include mixins.TB-richTextDefaults;
  }

  /**
   * Custom enhancements ...
  */
  // Regulate padding for all component sizes
  @include mixins.TB-padding;

  // Regulate flex gap for all component sizes
  @include mixins.TB-flexGap;

  // Spread the content horizontally and adjust alignment (for certain component sizes)
  @include mixins.TB-layout;
}

.enj-TileBanner {
  background-color: #e3ebf9;

  @include mixins.TB-iconLayout;
  @include mixins.TB-iconTheming;
  @include mixins.TB-textLinkTheming; 

  .enj-FeatureText {
    @include mixins.TB-richTextDefaults;
  }
}

.enj-TileBanner-has-hover-effect,
.enj-TileBanner-anchor-tag,
.enj-TileBanner--has-modal {
  display: block;
  &:hover {
    @include mixins.TB-hover;
    @include mixins.TB-textLinkTheming-hover;
  }
}


.enj-TileBanner-icon-wrapper {
  display:flex;
  align-items:center;
}