@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/colors' as *;

/**
 * Global stylings
 * ----------------------------
*/
@mixin CT-hover {
  cursor: pointer;
  background-color: $gray-30;
}

@mixin CT-iconPositionning {
  .enj-CustomTile-icon-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@mixin CT-iconTheming {
  .enj-CustomTile-icon {
    margin-top: 1rem;
    width: var(--enj-CTL-icon-dimg);
    height: var(--enj-CTL-icon-dimg);
    color: $blue-60;
  }
}

@mixin CT-richTextDefaults {
  .enj-FeatureText-article {
    // For Feature text / Rich text ...
    p:last-of-type,
    blockquote {
      margin-bottom: 0;
    }
  }
}

/**
 * For Banners: 
 * ----------------------------
*/
// Create initial padding, then adjust based on component size
@mixin CT-bannerResponsivePadding {
  // Initial padding ...
  padding: var(--enj-CTL-banner-pad);

  &.enj-CustomTile-sm {
    // border: 10px solid red;

    // Adapts padding ...
    --enj-CTL-banner-pad: #{$spacing-04};
  }
  &.enj-CustomTile-md {
    // border: 10px solid orange;

    // Adapts padding ...
    --enj-CTL-banner-pad: #{$spacing-07};
  }
  &.enj-CustomTile-lg {
    // border: 10px solid blue;
  }
  &.enj-CustomTile-xlg {
    // border: 10px solid green;
  }
  &.enj-CustomTile-max {
    // border: 10px solid rgb(255, 47, 227);

    // Adapts padding ...
    --enj-CTL-banner-pad: #{$spacing-12};
  }
}

@mixin CT-bannerRichTextDefaults {
  .enj-FeatureText-article {
    // For Feature text / Rich text ...
    * {
      font-size: 1.2rem;
    }
  }
}

// Regulate flex gap for all component sizes
@mixin CT-bannerResponsiveFlexGap {
  &.enj-CustomTile-lg {
    --enj-CTL-bann-flex-gap: 1.2rem;
  }
  &.enj-CustomTile-xlg {
    --enj-CTL-bann-flex-gap: 1.5rem;
  }
  &.enj-CustomTile-max {
    --enj-CTL-bann-flex-gap: 2rem;
  }
}

// Spread the content horizontally and adjust alignment (for certain component sizes)
@mixin CT-bannerResponsiveHorizontal {
  &.enj-CustomTile-xlg {
    --enj-CTL-bann-flex-dir: row;
    --enj-CTL-bann-align-items: center;
    --enj-CTL-bann-flex-gap: 3.5rem;
    --enj-CTL-bann-title-flex: 0.6;
    --enj-CTL-bann-article-flex: 1;
  }
  &.enj-CustomTile-max {
    --enj-CTL-bann-flex-dir: row;
    --enj-CTL-bann-align-items: center;
    --enj-CTL-bann-flex-gap: 6rem;
    --enj-CTL-bann-title-flex: 0.6;
    --enj-CTL-bann-article-flex: 1;
  }
}

/**
 * For Cards
 * ----------------------------
*/
// Create initial padding, then adjust based on component size
@mixin CT-cardResponsivePadding {
  // Initial padding ...
  padding: var(--enj-CTL-card-pad);

  &.enj-CustomTile-sm {
    border: 10px solid red;

    // Adapts padding ...
    --enj-CTL-card-pad: #{$spacing-04};
  }
  &.enj-CustomTile-md {
    border: 10px solid orange;
  }
  &.enj-CustomTile-lg {
    border: 10px solid blue;
  }
  &.enj-CustomTile-xlg {
    border: 10px solid green;
  }
  &.enj-CustomTile-max {
    border: 10px solid rgb(255, 47, 227);
  }
}

// ...
// @mixin CT-decoration-horizontal {
//   // Variables ...
//   --enj-CustomTile-h-padd: #{$spacing-06};
//   --enj-CustomTile-h-content-padd-r: 0;
//   --enj-CustomTile-h-content-title-flex: unset;
//   --enj-CustomTile-h-content-blurb-flex: unset;

//   // Declarations ...
//   padding: var(--enj-CustomTile-h-padd);

//   .content {
//     padding-right: var(--enj-CustomTile-h-content-padd-r);
//     align-items: center;

//     .enj-CustomTile-title {
//       flex: var(--enj-CustomTile-h-content-title-flex);
//       margin-bottom: 0;
//     }
//     .enj-CustomTile-blurb {
//       flex: var(--enj-CustomTile-h-content-blurb-flex);
//     }
//   }

//   @include breakpoint('md') {
//     --enj-CustomTile-h-padd: #{$spacing-08};
//     --enj-CustomTile-gap: #{$spacing-08};
//     --enj-CustomTile-h-content-title-flex: 1;
//     --enj-CustomTile-h-content-blurb-flex: 1;
//   }

//   @include breakpoint('lg') {
//     --enj-CustomTile-h-padd: #{$spacing-09};
//     --enj-CustomTile-gap: #{$spacing-12};
//     --enj-CustomTile-h-content-title-flex: 0.5;
//     --enj-CustomTile-h-content-blurb-flex: 1;
//     --enj-CustomTile-h-content-padd-r: #{$spacing-13};
//   }
// }

// ...
// @mixin CT-decoration-vertical {
//   // Variables ...
//   --enj-CustomTile-v-padd: #{$spacing-06};
//   --enj-CustomTile-v-content-5-padd: 0; //#{$spacing-06};

//   // Declarations ...
//   padding: var(--enj-CustomTile-v-padd);

//   @media (min-width: 360px) {
//     --enj-CustomTile-v-content-5-padd: #{$spacing-06};
//   }

//   .content {
//     flex: 1;
//     padding-right: var(--enj-CustomTile-v-content-5-padd);
//   }
// }
