// Import Carbon Design Tokens & Utilities ...
@use 'enjanga-core-setup/styles' as *;

/**
 * Global stylings
 * ----------------------------
*/

@mixin CT-iconPositionning {
  .enj-CustomTile-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@mixin CT-iconTheming {
  .enj-CustomTile-icon {
    margin-top: 1rem;
    width: var(--enj-CTL-icon-dimg);
    height: var(--enj-CTL-icon-dimg);
    color: $blue-60;
  }
}

// Text & Link styling ...
@mixin CT-textLinkTheming {
  a {
    text-decoration: none;
  }
  .enj-CustomTile-title {
    color: $gray-90;
    a {
      color: $gray-90;
    }
  }
  .enj-FeatureText-article,
  .enj-CustomTile-pictogram {
    color: $gray-70;
    a {
      color: $gray-70;
    }
  }
}

@mixin CT-hover {
  cursor: pointer;
  background-color: $purple-80;

  .enj-CustomTile-pictogram {
    color: $blue-30;
  }

  .enj-CustomTile-icon-wrapper svg {
    color: $magenta-50;
  }
}

@mixin CT-textLinkTheming-hover {
  .enj-CustomTile-title {
    color: white; // $blue-60;
    a {
      color: white; // $blue-60;
    }
  }
  .enj-FeatureText-article {
    color: white; // $blue-60;
    a {
      color: white; // $blue-60;
    }
  }
}

@mixin CT-richTextDefaults {
  .enj-FeatureText-article {
    // For Feature text / Rich text ...
    p:last-of-type,
    blockquote {
      margin-bottom: 0;
    }
  }
}

/**
 * For Banners: 
 * ----------------------------
*/
// Create initial padding, then adjust based on component size
@mixin CT-bannerResponsivePadding {
  // Initial padding ...
  padding: var(--enj-CTL-banner-pad);

  &.enj-CustomTile-sm {
    // Adapts padding ...
    --enj-CTL-banner-pad: #{$spacing-04};
  }
  &.enj-CustomTile-md {
    // Adapts padding ...
    --enj-CTL-banner-pad: #{$spacing-07};
  }
  &.enj-CustomTile-max {
    // Adapts padding ...
    --enj-CTL-banner-pad: #{$spacing-12};
  }
}

@mixin CT-bannerRichTextDefaults {
  .enj-FeatureText-article {
    // For Feature text / Rich text ...
    * {
      font-size: 1.2rem;
    }
  }
}

// Regulate flex gap for all component sizes
@mixin CT-bannerResponsiveFlexGap {
  &.enj-CustomTile-lg {
    --enj-CTL-bann-flex-gap: 1.2rem;
  }
  &.enj-CustomTile-xlg {
    --enj-CTL-bann-flex-gap: 1.5rem;
  }
  &.enj-CustomTile-max {
    --enj-CTL-bann-flex-gap: 2rem;
  }
}

// Spread the content horizontally and adjust alignment (for certain component sizes)
@mixin CT-bannerResponsiveHorizontal {
  &.enj-CustomTile-xlg {
    --enj-CTL-bann-flex-dir: row;
    --enj-CTL-bann-align-items: center;
    --enj-CTL-bann-flex-gap: 3.5rem;
    --enj-CTL-bann-title-flex: 0.6;
    --enj-CTL-bann-article-flex: 1;
  }
  &.enj-CustomTile-max {
    --enj-CTL-bann-flex-dir: row;
    --enj-CTL-bann-align-items: center;
    --enj-CTL-bann-flex-gap: 6rem;
    --enj-CTL-bann-title-flex: 0.6;
    --enj-CTL-bann-article-flex: 1;
  }
}

/**
 * For Cards
 * ----------------------------
*/
// Create initial padding, then adjust based on component size
@mixin CT-cardResponsivePadding {
  // Initial padding ...
  padding: var(--enj-CTL-card-pad);

  &.enj-CustomTile-sm {
    --enj-CTL-card-pad: #{$spacing-04};
  }
  &.enj-CustomTile-md {
    --enj-CTL-card-pad: #{$spacing-06};
  }
}

@mixin CT-card-img-pictogram-positionning {
  display: grid;
  // grid-template: auto auto / auto 1fr;
  grid-template: auto auto / 3rem auto;
  column-gap: var(--enj-CTL-card-img-col-gap);

  .enj-CustomTile-icon-wrapper {
    grid-column: 2;
  }
}

// Setting a grid to align 'img' and 'text' horizontally
@mixin CT-card-img-horizontal-positionning {
  // Style common to images and pictograms ...
  @include CT-card-img-pictogram-positionning;
  // ...
  grid-template: auto auto / auto 1.5rem;

  .enj-CustomTile-image {
    grid-row: 3 span;
    height: 100%;
  }

  .enj-FeatureText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2 span;
  }
}

@mixin CT-action-icon-positionning {
  position: absolute;
  bottom: var(--enj-CTL-card-pad);
  right: var(--enj-CTL-card-pad);
}

@mixin CT-card-img-responsive-horizontal-positionning {
  &.enj-CustomTile-sm {
    // Hide the image for "sm" size
    .enj-CustomTile-image {
      display: none;
    }
  }
  &.enj-CustomTile-lg,
  &.enj-CustomTile-xlg,
  &.enj-CustomTile-max {
    @include CT-card-img-horizontal-positionning;
  }
  &.enj-CustomTile-xlg {
    --enj-CTL-card-img-col-gap: 3rem;
  }
  &.enj-CustomTile-max {
    --enj-CTL-card-img-col-gap: 4.5rem;
  }
}

// For a card with icon, set the icon and text on an horiontal plane
@mixin CT-card-pictogram-horizontal-positionning {
  // Style common to images and pictograms ...
  @include CT-card-img-pictogram-positionning;
}

@mixin CT-card-pictogram-responsive-horizontal-positionning {
  &.enj-CustomTile-md {
    @include CT-card-pictogram-horizontal-positionning;
  }
  &.enj-CustomTile-lg,
  &.enj-CustomTile-xlg,
  &.enj-CustomTile-max {
    --enj-CTL-card-withIcon-gap: 2rem;
    @include CT-card-pictogram-horizontal-positionning;
  }
}

@mixin CT-pictogram-theming {
  .enj-CustomTile-pictogram {
    color: $blue-60;
  }
  .enj-CustomTile-icon-wrapper svg {
    color: $gray-50;
    // color: $magenta-60;
  }
}

@mixin CT-card-linked-pictogram-responsive-horizontal-positionning {
  &.enj-CustomTile-md {
    .enj-CustomTile-anchor-tag {
      @include CT-card-pictogram-horizontal-positionning;
    }
  }
  &.enj-CustomTile-lg,
  &.enj-CustomTile-xlg,
  &.enj-CustomTile-max {
    .enj-CustomTile-anchor-tag {
      --enj-CTL-card-withIcon-gap: 2rem;
      @include CT-card-pictogram-horizontal-positionning;
    }
  }
}
