@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/type' as *;

.enj-Banner {
  /**
   * Default banner
   * ------------------
  */
  // Variables ...
  --enj-Banner-gap: #{$spacing-09};
  --enj-Banner-padd: var(--enj-Banner-gap) 0 var(--enj-Banner-gap) 0;

  // Declarations ...
  background-color: $gray-20;
  padding: var(--enj-Banner-padd);

  @include breakpoint('md') {
    // border: 5px solid orange;
    --enj-Banner-gap: #{$spacing-11};
  }

  @include breakpoint('lg') {
    // border: 5px solid rgb(94, 255, 0);
    --enj-Banner-gap: #{$spacing-11};
  }

  @include breakpoint('xlg') {
    --enj-Banner-gap: #{$spacing-12};
  }

  /**
   * Bigger banner
   * ------------------
  */
  &.enj-Banner--jumbotron {
    // Variables ...
    --enj-Banner-padd-bot: #{$spacing-13};
    --enj-Banner-jumbotron-padd: var(--enj-Banner-gap) 0
      var(--enj-Banner-padd-bot) 0;

    // Declarations ...
    padding: var(--enj-Banner-jumbotron-padd);

    p {
      @include breakpoint('lg') {
        font-size: map-get(
          $heading-03,
          'font-size'
        ); // Explicitly get font-size
      }
    }

    // Declarations ...
    @include breakpoint('md') {
      // border: 5px solid orange;
      --enj-Banner-padd-bot: #{$spacing-06 + $spacing-13};
    }

    @include breakpoint('lg') {
      // border: 5px solid rgb(94, 255, 0);
      --enj-Banner-padd-bot: #{$spacing-06 + $spacing-13};
    }

    @include breakpoint('xlg') {
      --enj-Banner-padd-bot: #{$spacing-08 + $spacing-12 + $spacing-13};
    }
  }
}
