@use './styles/utils/mixins';
@use './styles/Banner-isHuge';
@use './styles/Banner-heading-and-content';
@use './styles/Banner-skeleton';

/**
  * Default banner
  * ------------------
*/
.enj-Banner {
  // Declarations ...
  background-color: #191947; // TODO: Convert to enjanga-core-setup color token

  .enj-FeatureText-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  @include mixins.BNN-isHuge-text-cleaup;
  @include mixins.BNN-responsive-padding;

  &.enj-Banner--hasBgImage {
    @include mixins.BNN-has-background-image;
  }
}
